<%# page title %>
<h3><%= link_to 'Unknown Subjects', unknown_subjects_path %> &gt; Edit</h3>

<%# page contents %>
<%= render :partial => 'unknown_subject_form',
  :locals => { :unknown_subject => @unknown_subject } %>
